.cast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.cast-card {
  width: 200px;
  margin: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

.cast-card img {
  max-width: 100%;
  border-radius: 4px;
}

.cast-card p {
  margin: 5px 0;
  font-size: 16px;
}


h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
